.elementor-11 .elementor-element.elementor-element-26fad15 {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-f729e04 {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-748bf18>.elementor-element-populated {
  padding: 25px
}

.elementor-11 .elementor-element.elementor-element-b6347c2>.elementor-element-populated {
  padding: 25px
}

.elementor-11 .elementor-element.elementor-element-4573e96 {
  margin-top: 25px;
  margin-bottom: 0
}

.elementor-11 .elementor-element.elementor-element-6edbf02 {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-e12f57a {
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px
}

.elementor-11 .elementor-element.elementor-element-6e29b1f .elementor-text-editor {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-6e29b1f {
  color: #54595f;
  font-size: 17px
}

.elementor-11 .elementor-element.elementor-element-6e29b1f>.elementor-widget-container {
  margin: 15px 0 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 15px 15px 15px 15px
}

.elementor-11 .elementor-element.elementor-element-6e29b1f:hover .elementor-widget-container {
  background-color: rgba(0, 0, 0, .47)
}

.elementor-11 .elementor-element.elementor-element-4269178 .elementor-text-editor {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-4269178 {
  color: #54595f;
  font-size: 17px
}

.elementor-11 .elementor-element.elementor-element-4269178>.elementor-widget-container {
  margin: 15px 0 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 15px 15px 15px 15px
}

.elementor-11 .elementor-element.elementor-element-4269178:hover .elementor-widget-container {
  background-color: rgba(0, 0, 0, .47)
}

.elementor-11 .elementor-element.elementor-element-4d9105e .elementor-text-editor {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-4d9105e {
  color: #54595f;
  font-size: 17px
}

.elementor-11 .elementor-element.elementor-element-4d9105e>.elementor-widget-container {
  margin: 15px 0 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 15px 15px 15px 15px
}

.elementor-11 .elementor-element.elementor-element-4d9105e:hover .elementor-widget-container {
  background-color: rgba(0, 0, 0, .47)
}

.elementor-11 .elementor-element.elementor-element-4b8256b .elementor-text-editor {
  text-align: center
}

.elementor-11 .elementor-element.elementor-element-4b8256b {
  color: #54595f;
  font-size: 17px
}

.elementor-11 .elementor-element.elementor-element-4b8256b>.elementor-widget-container {
  margin: 15px 0 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 15px 15px 15px 15px
}

.elementor-11 .elementor-element.elementor-element-4b8256b:hover .elementor-widget-container {
  background-color: rgba(0, 0, 0, .47)
}